@{
    Layout="Shared/_Layout.cshtml";
}

<h1>Entry Deleted</h1>
<h3>"Earth to earth, ashes to ashes, dust to dust."</h3>

<div class="footer-links">
    <h4><a href="/">Click here to return to your homepage.</a></h4>
</div>
